:root {
  --color-primary-1: #302e33;
  --color-secondary-1: #d00000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-primary-1);
  color: #ffffff;
  background-image: linear-gradient(11deg, transparent 0%, #000000 90%), linear-gradient(45deg, #333333, transparent), url(bg__.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* !----------------------------------- */
.container {
  width: 100%;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* !----------------------------------- */

.app {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff25;
  backdrop-filter: blur(15px);
  width:90vw;
  max-width: 70rem;
  
  height: 50rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 6rem #00000055;
  z-index: 110;
  animation: load-in 1s alternate;
}
/* !------------------------------------ */

/* !----------------------------------- */
input {
  max-width: 100rem;
  width: 100%;
  font-size: 2.8rem;
  height: 6rem;
  outline: none;
  border: none;
  background-color: #242424;
  backdrop-filter: blur(10px);
  color: #9999;
  padding: 2rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
input:focus {
  background-color: #222;
}
input::placeholder {
  transition: all 0.2s;
  font-size: 2.1rem;
  color: #555;
}
input:focus::placeholder {
  transform: translateY(-2rem);
  opacity: 0;
  color: #999;
}

.input-group {
  border-radius: 0.5rem 0 0 0.5rem;
}

.btn-group {
  height: 6rem;
  /* border: 3px solid var(--color-secondary-1); */
  border: none;
  background-color: var(--color-secondary-1);
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
}

.btn {
  cursor: pointer;
  height: 6rem;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.2s;
}

.btn:hover {
  filter: brightness(120%);
}
.btn:active{
  filter: brightness(90%);
}
i {
  transition: all 0.2s;
  font-size: 2.1rem;
}
.btn:hover i {
  transform: rotate(180deg);

}

/* ! Animations  */

@keyframes load-in {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
}
