:root {
  --color-primary-1: #302e33;
  --color-secondary-1: #d3d3d3;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-primary-1);
  color: #ffffff;
  background-image: linear-gradient(11deg, transparent 0%, #000000 90%), linear-gradient(45deg, #333333, transparent), url(bg__.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}
/* !----------------------------------- */
.container {
  width: 100%;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* !----------------------------------- */

.app {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffffff40;
  backdrop-filter: blur(15px);
  width: 100vw;
  max-width: 80rem;
  transition: all 0.2s;
  height: min-content;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 6rem #00000055;
  z-index: 110;
  animation: load-in 1s alternate;
  /* overflow: hidden; */
}
/* !--search container---------------------------------- */

.search-container {
  width: 100%;

  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container i {
  margin-left: 1rem;
}

input {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  font-size: 2.1rem;
  height: 6rem;
  outline: none;
  border: none;
  background-color: #242323;
  backdrop-filter: blur(10px);
  color: #666;
  padding: 2rem;
  transition: all 0.2s;
}

input:hover {
  filter: brightness(105%);
}
input:focus {
  background-color: #222;
}
input::placeholder {
  transition: all 0.2s;
  font-size: 2.1rem;
  color: #555;
}
input:focus::placeholder {
  transform: translateY(-2rem);
  opacity: 0;
  color: #999;
}

.input-group {
  border-radius: 1rem 0 0 1rem;
}

.btn-group {
  height: 5rem;
  /* border: 3px solid var(--color-secondary-1); */
  border: none;
  background-color: var(--color-secondary-1);
  border-radius: 0 1rem 1rem 0;
  color: #333;
}

.btn {
  cursor: pointer;
  width: 30%;
  min-width: 12rem;
  height: 6rem;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  transition: all 0.2s;
}

.btn:hover {
  filter: brightness(120%);
}
.btn:active {
  filter: brightness(90%);
}
i {
  transition: all 0.2s;
  font-size: 2.1rem;
}
.btn:hover i {
  transform: rotate(180deg);
}

/* !--result Container--------------------------------- */
.result {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: min-content;
  margin-top: 3rem;
  animation: load-in 1s alternate;
  transition: all 0.2s;
  position: relative;
}

/* !--Result section after search ------------------- */
.info {
  width: 100%;
  position: relative;
  /* border: 3px solid green; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.8rem;
  gap: 3rem;
}

.info__img {
  width: 50%;
}
.info__poster {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 1rem 4rem #00000035;
}

.info__detail {
  width: 50%;
  /* padding: 0 2rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.info__title {
  font-size: 2.6rem;
  grid-column: 1/-1;
  border-bottom: 2px solid #ffffff25;
  padding: 0.5rem 0;
}
.info__title span {
  color: #ffffff75;
  font-size: 1.8rem;
}

.info__type {
  grid-column: 1/-1;
}
.info__language {
  grid-column: 1/2;
  font-size: 1.6rem;
}
.info__release {
  grid-column: 2/3;
  font-size: 1.6rem;
}

.info__duration {
  grid-column: 3/4;
  font-size: 1.6rem;
}

.info__rate {
  grid-column: 1/-1;
  font-size: 2.4rem;
}

.info__rate i {
  color: rgb(255, 238, 0);
  font-size: 1.8rem;
  margin-right: 0.5rem;
}
.info__plot {
  grid-column: 1/-1;
  font-size: 1.4rem;
}

.info__awards {
  font-size: 1.4rem;
  grid-column: 1/-1;
}
.info__actors {
  font-size: 1.6rem;
  grid-column: 1/-1;
}

.info__budget {
  grid-column: 1/-1;
}

.mahyarsign {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  transition: all 0.2s;
}
.mahyarsign:hover {
  background-color: #ffffff;
}

.mahyarsign:active {
  background-color: #d3d3d3;
}
.mahyarsign i {
  color: #ffffff;
  font-size: 2.4rem;
}
.mahyarsign:hover i {
  color: #333333;
}

.info__key {
  font-weight: 700;
  font-size: 1.6rem;
}
/* !---------------------------------- */
.not-found {
  position: relative;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  animation: load-in 1s alternate;
}
.not-found h2 {
  font-size: 1.8rem;
}

.not-found .btn-refresh {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 1rem;
}
.not-found .btn-refresh i {
  font-size: 3.6rem;
}

.not-found .btn-refresh i:hover {
  transform: rotate(360deg);
}

.mahyarbrand {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -8rem;
  font-size: 1.6rem;
  right: 0;
  width: 35%;
  height: 6rem;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #121212;
  /* margin-top: 2rem; */
}
/* !---------------------------------- */
.display {
  display: flex;
  animation: load-in 1s alternate;
}

.no-display {
  opacity: 0;

  animation: load-out 1s alternate;
}
/* ! Animations  */

@keyframes load-in {
  0% {
    opacity: 0;
    /* transform: translateY(10rem); */
  }
  100% {
    opacity: 1;

    /* transform: translateY(0); */
  }
}

@keyframes load-out {
  0% {
    opacity: 1;

    /* transform: translateY(10rem); */
  }
  100% {
    opacity: 0;

    /* transform: translateY(0); */
  }
}
/* .animation-in {
  animation: load-in 1s alternate;
}
.animation-out {
  animation: load-out 1s alternate;
} */
